﻿@using TL.Engine.SDK.Services;
@using TL.Engine.SDK.Extensions;
@inject IStartupService StartupService
@{
    System.Globalization.CultureInfo customCulture = (System.Globalization.CultureInfo)System.Threading.Thread.CurrentThread.CurrentCulture.Clone();
    customCulture.NumberFormat.NumberDecimalSeparator = ".";

    System.Threading.Thread.CurrentThread.CurrentCulture = customCulture;
}

@if (StartupService.IsOk)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Внимание!</strong> Ядро системы TL Engine успешно запущено, подробный лог запуска доступен только системным администраторам.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (!StartupService.IsReady)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Внимание!</strong>
        @if (StartupService.IsDebugMode)
        {
            <span> Ядро системы TL Engine запускается в режиме отладки. Чтобы пропустить пошаговую проверку нажмите <strong>Пропустить</strong>.</span>
        }
        else
        {
            <span> Ядро системы TL Engine запускается.  Пожалуйста, подождите.</span>
        }
    </div>
}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Внимание!</strong> Ядро системы TL Engine не может быть запущено, пока не устранены одна или несколько ошибок.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<center>
    @if (!StartupService.IsReady)
    {
        <strong>
            @StartupService.Message
        </strong>
        @if (!string.IsNullOrWhiteSpace(StartupService.CallbackMessage))
        {
            <h6>
                @StartupService.CallbackMessage
            </h6>
        }
    }
    else
    {
        if (StartupService.IsOk)
        {
            <strong>
                Добро пожаловать в систему TL Engine!
            </strong>
        }
        else
        {
            <strong>
                Произошла одна или несколько ошибок!
            </strong>
        }
    }
</center>
<br />
<div id="progress" class="progress@(StartupService.IsReady ? " final" : "")" style="height: 1px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@string.Format("{0:0.##}", StartupService.Progress)"
         aria-valuemin="0" aria-valuemax="100" style="width: @string.Format("{0:0.##}", StartupService.Progress)%">
    </div>
</div>
@if (User.IsInRole(TL.Engine.Data.Entities.Security.Role.Sa.Name) || (StartupService.IsReady && !StartupService.IsOk))
{
    <br />
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-responsive-stack">
            <thead class="thead-light">
                <tr>
                    <th>Время</th>
                    <th>Вердикт</th>
                    <th>Сообщение</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in StartupService.Log)
                {
                    <tr class="@(log.Ok ? "alert-success" : (log.IsFinal ? "alert-warning" : "alert-danger"))">

                        <td>@log.Time.ToDetailedString()</td>
                        <td>@log.Ok</td>
                        <td>@log.Message</td>
                        <td>@log.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}