﻿@model TL.Engine.Web.ViewModels.Welcome.IndexViewModel
@{
    ViewData["Title"] = "Добро пожаловать!";
}
<div class="card-deck">
    <div class="card border-secondary text-secondary">
        <div class="card-header">Добро пожаловать!</div>
        <div class="card-body">
            <h5 class="card-title">Приветствуем вас в системе <strong>TL Engine!</strong></h5>
            <p class="card-text">
                <strong>TL Engine</strong> - это многофункциональная модульная платформа для создания производительных
                веб-сервисов для бизнеса. Мы можем создать для вас любой функционал, спроектировать и создать бизнес-логику
                любой сложности.
            </p>
            <p>
                Благодаря платформе <strong>TL Engine</strong> заказная разработка у нас будет стоить вам дешевле, чем где-либо,
                потому что мы не создаем инфрастуктуру вашего решения заново - мы создаем для вас набор <strong>
                    автономных модулей
                    системы TL Engine
                </strong>. Система автономных модулей позволяет нам существенно экономить ваши деньги и наше время
                за счёт повторного использования уже готовых типовых функциональных модулей. TL Engine - это удобный конструктор для
                разработки производительных систем для вашего бизнеса!
            </p>
            <p>
                Приятным дополнением платформе <strong>TL Engine</strong> служит автоматическая интеграция с ботами Telegram. Прежде всего - это удобная
                и оперативная связь с вашими сотрудниками, клиентами и партнерами, а так же быстрый и удобный доступ к данным вашей организации
                через диалоговое окно самого популярного мессенджера.
            </p>
            <p class="card-text"><code><small class="text-muted">>_ Команда разработки TL Engine</small></code></p>
        </div>
    </div>
    <div class="card border-secondary text-secondary">
        <div class="card-header">Попробуйте другие наши продукты!</div>
        <div class="card-body">
            <h5 class="card-title">А Вы знали, что <strong>TL Engine</strong> не первая и далеко не единственная наша разработка?</h5>
            <p class="card-text">
                Мы за просвящение и за здоровый спортивный азарт! Поэтому проводим собственные интеллектуальные игры под брендом <strong>Технологика</strong>.
                Это командная викторина с вопросами и ответами, которые мы обрабатываем через собственную платформу и Telegram ботов.
            </p>
            <p>
                Она мобильна, доступна в любой точке света и максимально технологична - все вопросы викторины приходят вам в мессенджер, ответы принимаются там же и моментально обрабатываются
                нашими серверами. Больше не нужно бояться за кривой почерк, возиться с бумажками и негодовать в ожидании результатов. Потому что мы бережем и ценим ваше личное время.
            </p>
            <p>
                Разумеется, <strong>Технологика</strong> далеко не самая обычная игра. Мы можем позволить себе больше, чем классический "бумажный вариант". Наши механики
                разнообразны и часто сильно интерактивны. Без использования автоматической системы, которая будет мгновенно общаться с сотнями игроков, провести подобную 
                игру попросту невозможно.
            </p>
            <p>
                В данный момент в <strong>Технологику</strong> играют в <a href="https://vk.com/tlg_kirov">Кирове</a> и в <a href="https://vk.com/tlgspb">Санкт-Петербурге</a>. Приходите и 
                попробуйте свои силы в сражении с кибернетическим интеллектом. Или <a href="mailto:ceo@telog.ru">напишите</a> нам и мы предложим Вам, как можно запустить <strong>Технологику</strong>
                в Вашем городе.
            </p>
            <p class="card-text"><code><small class="text-muted">01.04.2019 >_ Команда разработки TL Engine</small></code></p>
        </div>
    </div>
    <div class="card border-secondary text-secondary">
        <div class="card-header">Версия 1.0.0.0</div>
        <div class="card-body">
            <h5 class="card-title">Вышла первая публичная версия платформы <strong>TL Engine!</strong></h5>
            <p class="card-text">
                Мы полгода проектировали и создавали идеальную производительую платформу, чтобы упростить и удешевить создание новых бизнес-решений.
                Теперь, спустя столько времени мы с уверенностью можем сказать - у нас получилось здорово!
            </p>
            <p>
                Как мы его ласково называем, "движок" TL Engine
                выдерживает колоссальную нагрузку, работает в любой операционной системе и на любых серверах, обладает мощным потанциалом для наращивания
                бизнес-логики под Ваши нужды, предоставляет автоматически расширяемое API для того, чтобы у Вас была возможность интегрировать его с другими
                сервисами, а так же самостоятельно интегрируется с ботами Telegram.
            </p>
            <hr />
            <p class="card-text">
                Минимальные системные требования:<br />
                <ul>
                    <li>Docker с поддержкой Docker Compose;</li>
                    <li>2 Гигабайта ОЗУ;</li>
                    <li>2 Гигабайта на жестком диске;</li>
                    <li>Доступ в интернет;</li>
                    <li>(Опционально) Для интеграции с ботами Telegram системе TL Engine необходим беспрепятственный доступ к серверам мессенджера.</li>
                </ul>
                Гарантированная пропускная способность сервера, удовлетворяющего минимальным системным требованиям - 120 000 единовременных подключений.
            </p>
            <p>
                Для примера, такой сервер можно арендовать на DigitalOcean за $15 в месяц.
            </p>
            <p class="card-text"><code><small class="text-muted">01.04.2019 >_ Команда разработки TL Engine</small></code></p>
        </div>
    </div>
</div>