﻿@model TL.Linker.Web.Areas.Linker.ViewModels.Manager.EditViewModel
@{
    ViewData["Title"] = "Редактировать ссылку";
}
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Внимание!</strong> @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form asp-action="edit" asp-controller="manager" asp-area="linker" method="post">
    <div class="text-danger validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="@Model.Input.Path">Ссылка</label>
        <input asp-for="@Model.Input.Path" class="form-control" value="@Model.Input.Path" />
        <span asp-validation-for="@Model.Input.Path" class="text-danger validation" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Input.OriginalPath">Оригинал</label>
        <input asp-for="@Model.Input.OriginalPath" class="form-control" value="@Model.Input.OriginalPath" />
        <span asp-validation-for="@Model.Input.OriginalPath" class="text-danger validation" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Input.LifetimeSeconds">Время жизни в секундах (+ от текущего)</label>
        <input asp-for="@Model.Input.LifetimeSeconds" class="form-control" value="@Model.Input.LifetimeSeconds" min="0" max="@int.MaxValue" />
        <span asp-validation-for="@Model.Input.LifetimeSeconds" class="text-danger validation" />
    </div>

    <input asp-for="@Model.Input.Id" type="hidden" class="invisible" value="@Model.Input.Id" />
    <input asp-for="@Model.ReturnUrl" type="hidden" class="invisible" value="@Model.ReturnUrl" />

    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="@Url.Content(Model.ReturnUrl)" role="button" class="btn btn-warning">&laquo; Назад</a>
</form>