﻿@model TL.Integrations.Web.Areas.Integrations.ViewModels.Telegram.Shared.TelegramBotsViewModel
@using System.Reflection;
@using TL.Engine.SDK.Extensions;
@using TL.Integrations.SDK.Telegram.Attributes;
@using TL.Integrations.SDK.Telegram.Bots;
@using TL.Integrations.Data.Entities.Telegram.System;
@inject TL.Engine.SDK.Services.IActivatorService Activator;
@{
    var types = Activator
                .GetImplementations<IBaseBot>(useCaching: true)
                .Where(t => !t.IsAbstract);
}

<div class="table-responsive">
    <h4>Запущенные боты:</h4>
    <table class="table table-bordered table-hover table-responsive-stack">
        <thead class="thead-light">
            <tr>
                <th style="flex-basis: 5%">#</th>
                <th style="flex-basis: 15%">Имя</th>
                <th style="flex-basis: 15%">Тип</th>
                <th style="flex-basis: 20%">Время жизни</th>
                <th style="flex-basis: 15%">Ответов</th>
                <th style="flex-basis: 15%">Задержка</th>
                <th style="flex-basis: 15%">Состояние</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
                foreach (var bot in Model.ActiveBots.OrderBy(b => b.Uptime))
                {
                    var tgBot = Model.SavedBots.FirstOrDefault(e => e.Token == bot.Token && e.TypeName == bot.GetType().Name);
                    <tr>
                        <td style="flex-basis: 5%">@i</td>
                        <td style="flex-basis: 15%"><a href="https://t.me/@bot.Username" target="_blank">@@@bot.Username</a></td>
                        <td style="flex-basis: 15%">@((bot.GetType().GetCustomAttribute(typeof(BotAttribute)) as BotAttribute)?.Name ?? bot.GetType().Name)</td>
                        <td style="flex-basis: 20%">@bot.Uptime.Days д. @bot.Uptime.Hours ч. @bot.Uptime.Minutes м. @bot.Uptime.Seconds с.</td>
                        <td style="flex-basis: 15%">@bot.RequestsSummaryCount</td>
                        <td style="flex-basis: 15%">@bot.PerformanceMs</td>
                        <td style="flex-basis: 15%">
                            <button class="btn-sm btn-warning" onclick="kill('@bot.Username')">@(tgBot == null ? "Остановить" : tgBot.State.DisplayName())</button>
                        </td>
                    </tr>
                    ++i;
                }
            }
        </tbody>
    </table>
    <hr />
    <h4>Доступные боты:</h4>
    <table class="table table-bordered table-hover table-responsive-stack">
        <thead class="thead-light">
            <tr>
                <th style="flex-basis: 5%">#</th>
                <th style="flex-basis: 15%">Имя</th>
                <th style="flex-basis: 10%">Тип</th>
                <th style="flex-basis: 15%">Автозапуск</th>
                <th style="flex-basis: 15%">Тихий запуск</th>
                <th style="flex-basis: 15%">Последний запуск</th>
                <th style="flex-basis: 25%">Состояние</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var bot in Model.SavedBots.OrderByDescending(b => b.LastStartDate))
                {
                    if (bot.State == TgBotState.Run)
                    {
                        continue;
                    }
                    else
                    {
                        string lineLastStartupDate;
                        if (bot.LastStartDate.HasValue)
                        {
                            var dt = DateTime.Now.ToUniversalTime() - bot.LastStartDate.Value;
                            lineLastStartupDate = $"{dt.Days} д. {dt.Hours} ч. {dt.Minutes} м. {dt.Seconds} с. назад";
                        }
                        else
                        {
                            lineLastStartupDate = "не запускался прежде";
                        }
                        <tr>
                            <td style="flex-basis: 5%">@i</td>
                            <td style="flex-basis: 15%"><a href="https://t.me/@bot.Username" target="_blank">@@@bot.Username</a></td>
                            <td style="flex-basis: 10%">@((types.FirstOrDefault(t => t.Name == bot.TypeName)?.GetCustomAttribute(typeof(BotAttribute)) as BotAttribute)?.Name ?? bot.TypeName)</td>
                            <td style="flex-basis: 15%">@(bot.AutoStart ? "Да" : "Нет")</td>
                            <td style="flex-basis: 15%">@(bot.SkipUpdates ? "Да" : "Нет")</td>
                            <td style="flex-basis: 15%">@lineLastStartupDate</td>
                            <td style="flex-basis: 25%">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn-sm btn-success" onclick="startSaved('@bot.Id.ToString()')">@bot.State.DisplayName()</button>
                                        </div>
                                        <div class="col">
                                            <button class="btn-sm btn-danger" onclick="removeSaved('@bot.Id.ToString()')">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        ++i;
                    }
                }
            }
        </tbody>
    </table>
</div>