﻿@model TL.Integrations.Web.Areas.Integrations.ViewModels.Telegram.Index.IndexViewModel

@{
    ViewData["Title"] = "Telegram";
}

<h4>Запустить бота:</h4>
<form id="form-bots">
    <div class="text-danger validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="@Model.Token">Токен Бота</label>
        <input asp-for="@Model.Token" class="form-control" placeholder="Токен" />
        <span asp-validation-for="@Model.Token" class="text-danger validation" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BotType">Тип бота, пожалуйста</label>
        <select asp-for="@Model.BotType" asp-items="@Model.AvailableTypes" class="form-control">
            <option disabled selected>Выберте один из вариантов</option>
        </select>
        <span asp-validation-for="@Model.BotType" class="text-danger validation" />
    </div>
    <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" asp-for="@Model.SkipUpdates" checked />
        <label class="form-check-label" asp-for="@Model.SkipUpdates">Игнорировать пропущенные обновления при запуске</label>
    </div>
    <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" asp-for="@Model.AutoStartup" checked />
        <label class="form-check-label" asp-for="@Model.AutoStartup">Автоматически запускать при старте системы</label>
    </div>
</form>
<div class="form-group">
    <button id="submit" class="btn btn-success" onclick="start()">
        Запустить
    </button>
</div>
<hr />
<div id="online-bots">
</div>

@section Scripts {
    <script type="text/javascript">

        start = function () {
            server_alert('/integrations/telegram/start', '#form-bots', true);
        }

        startSaved = function (guid) {
            server_alert('/integrations/telegram/startsaved?id=' + guid);
            $(document).find('#form-bots')[0].reset();
        }

        removeSaved = function (guid) {
            server_alert('/integrations/telegram/removesaved?id=' + guid);
            $(document).find('#form-bots')[0].reset();
        }

        kill = function (username) {
            server_alert('/integrations/telegram/kill?username=' + username);
        }

        update = function () {
            $.ajax({
                url: '/integrations/telegram/update',
                type: 'post',
                success: function (result) {
                    $(document).find('#online-bots').html(result);
                }
            })
        }

        $(document).ready(function () {
            update();
            var hupdate = setInterval('update()', 500);
        })

    </script>
}