﻿@{ 
    Layout = "~/Views/Shared/_LayoutSafe.cshtml";
}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <a href="/" data-toggle="tooltip" data-placement="top" title="На Главную">
            <img src="~/Styles/images/logo_tl.ico" width="64" height="64" alt="">
        </a>
    </div>
    <hr />
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-auto shadow-lg p-3 rounded border">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}