﻿@{
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}
<div class="@(User.Identity.IsAuthenticated ? "container-fluid" : "container") body-content">
    <div class="row">
        <div class="col-12 col-md-auto dont-collapse-sm collapse" id="sidebarSupportedContent">
            <div class="sidebar sticky-top" style="top:74px;">@await Component.InvokeAsync("Sidebar")</div>
        </div>
        <div class="col-12 col-md shadow-lg p-3 rounded border">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy;@(DateTime.Now.Year > 2018 ? $"2018 - {DateTime.Now.Year}" : $"{DateTime.Now.Year}") TL</p>
            </footer>
            @{
                var linePageGenerationTime = "Страница сгенерирована за";
                var lineMs = "мс";
                var line = $"";
                var Start = Context.Items.ContainsKey("RequestStartedOn") ? Context.Items["RequestStartedOn"] as DateTime? : DateTime.MinValue;
                var Finish = DateTime.Now;
                <div class="text-center">
                    <p class="help-block" style="font-size: 80%">
                        UTC @Finish.ToUniversalTime()
                        <br />
                        LTC @Finish.ToLocalTime()
                        <br />
                        @linePageGenerationTime
                        <strong>@((Finish - (Start ?? DateTime.MinValue)).TotalMilliseconds)</strong> @lineMs
                    </p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="changepath" asp-controller="home" asp-area="" method="post">
                            <input name="path" value="@Context.Request.Path" hidden />
                            <button type="submit" class="btn-sm btn-outline-secondary">Сделать эту страницу главной</button>
                        </form>
                    }
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).find('#sidebarSupportedContent')
                .on('hide.bs.collapse', function () {
                    $('#btn_sidebarSupportedContent')
                        .removeClass('glyphicon-menu-up')
                        .addClass('glyphicon-menu-down')
                })
                .on('show.bs.collapse', function () {
                    $('#btn_sidebarSupportedContent')
                        .removeClass('glyphicon-menu-down')
                        .addClass('glyphicon-menu-up')
                });
            if ($('.sidebar').children().is(':empty')) {
                $('.sidebar').parent().remove();
                $('#sidebarSupportedContentButton').remove();
            }
        });
    </script>
}
