﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(string.IsNullOrWhiteSpace(ViewData["Title"] as string) ? "" : $"{ViewData["Title"]}") &sdot; TL Engine
    </title>
    @await Component.InvokeAsync("Styles")
    <link rel="icon" type="image/x-icon" href="~/Styles/images/logo_tl.ico">
</head>
<body>
    <div id="status-messages-block" class="status-messages-block"></div>
    @RenderBody()
    @await Component.InvokeAsync("Scripts")
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('.toast').toast();
        });
    </script>
</body>
</html>
