﻿@model TL.Engine.Web.ViewModels.Shared.LinkViewModel

@if (this.Model.Items.Count() > 0)
{
    var id = string.Join("", Guid.NewGuid().ToString().Split('-'));

    <div class="btn-group dropright">
        @if (Model.IsAvailable)
        {
            <a class="nav-link list-group-item" href="@Url.Content(Model.Url)" data-toggle="tooltip" data-placement="right" title="@Model.Description">
                @Model.Name
            </a>
        }
        else
        {
            <a class="nav-link list-group-item" href="#" data-toggle="tooltip" data-placement="right" title="(Пока недоступно) @Model.Description">
                @Model.Name
                <span class="badge badge-pill badge-danger">Скоро</span>
            </a>
        }
        <button id="@id" type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu shadow-sm rounded" aria-labelledby="@id">
            @foreach (var item in this.Model.Items)
            {
                <span class="dropdown-item">
                    @if (item.IsAvailable)
                    {
                        <a class="nav-link" href="@Url.Content(item.Url)" data-toggle="tooltip" data-placement="right" title="@item.Description">
                            @item.Name
                        </a>
                    }
                    else
                    {
                        <a class="nav-link" href="#" data-toggle="tooltip" data-placement="right" title="(Пока недоступно) @item.Description">
                            @item.Name
                            <span class="badge badge-pill badge-danger">Скоро</span>
                        </a>
                    }
                </span>
            }
        </div>
    </div>
}
else
{
    @if (Model.IsAvailable)
    {
        <a class="nav-link list-group-item" href="@Url.Content(Model.Url)" data-toggle="tooltip" data-placement="right" title="@Model.Description">
            @Model.Name
        </a>
    }
    else
    {
        <a class="nav-link list-group-item" href="#" data-toggle="tooltip" data-placement="right" title="(Пока недоступно) @Model.Description">
            @Model.Name
            <span class="badge badge-pill badge-danger">Скоро</span>
        </a>
    }
}
