﻿@model TL.Engine.Web.ViewModels.Shared.LinksViewModel

<ul class="navbar-nav ml-auto">
    <li class="nav-item dropleft">
        <button class="btn btn-link nav-link align-items-lg-center ml-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @if (User.Identity.IsAuthenticated)
            {
                var name = User.Identity.Name.Length > 17 ? $"{User.Identity.Name.Substring(0, 17)}..." : User.Identity.Name;
                <strong>@name&nbsp;&nbsp;</strong>
                <img src="~/Styles/images/pack/png/user-3.png" alt="User Logo" width="auto" height="32px" class="shadow rounded-circle" />
            }
            else
            {
                <strong>Аккаунт&nbsp;&nbsp;</strong>
                <img src="~/Styles/images/pack/png/locked-6.png" alt="User Logo" width="auto" height="32px" class="rounded-circle" />
            }
        </button>
        <div class="dropdown-menu shadow-sm rounded border" aria-labelledby="navbarDropdown" style="width:auto;">
            @if (User.Identity.IsAuthenticated)
            {
                var name = User.Identity.Name.Length > 17 ? $"{User.Identity.Name.Substring(0, 17)}..." : User.Identity.Name;
                <a class="dropdown-item" href="/account" data-toggle="tooltip" data-placement="left" title="Настройки учётной записи">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <img src="~/Styles/images/pack/png/settings-4.png" alt="User Logo" width="auto" height="24px" class="rounded-circle" />
                        </div>
                        <div class="col">
                            <strong>@name</strong>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
            }

            @foreach (var item in this.Model.Items)
            {
                <partial name="_UserNavbarItem" model="@item" />
            }

            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/account/logout">Выход</a>
            }
            else
            {
                var loginModel = new TL.Engine.Web.Areas.Account.ViewModels.LoginViewModel();
                <form asp-action="index" asp-controller="login" asp-area="account" asp-route-returnUrl="@Context.Request.Path" method="post" asp-anti-forgery="true" class="p-3 needs-validation" novalidate>
                    <div class="text-danger validation" asp-validation-summary="All"></div>
                    <div class="form-group">
                        <input type="text" id="Username" name="Username" class="form-control" placeholder="Логин" required />
                        <div class="valid-feedback">
                            Ок
                        </div>
                        <div class="invalid-feedback">
                            Введите логин
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Пароль" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="form-control btn btn-outline-secondary" />
                    </div>
                    <div class="valid-feedback">
                        Ок
                    </div>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/account/register">Регистрация</a>
            }
        </div>
    </li>
</ul>