﻿@model TL.Account.Web.Areas.Account.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = Model?.Username ?? "Опс!";
}

@if (Model == null)
{
    <h1>Опс... Пользователь не найден!</h1>
}
else
{
    <form id="form_user" class="invisible"><input asp-for="@Model.Id" class="invisible" value="@Model.Id" hidden /></form>
    <h1 class="display-4">
        @Model.Username
        @if (Model.Username != User.Identity.Name)
        {
            @if (Model.IsSubscription)
            {
                <button title="Отписаться" type="submit" class="btn btn-outline-warning" onclick="server_alert('/account/profile/unsubscribe', '#form_user', true); setTimeout(function () { location.reload() }, 1000)"><span class="flaticon-star"></span></button>
            }
            else
            {
                <button title="Подписаться" type="submit" class="btn btn-outline-secondary" onclick="server_alert('/account/profile/subscribe', '#form_user', true);setTimeout(function () { location.reload() }, 1000)"><span class="flaticon-star"></span></button>
            }
        }
    </h1>
    <h4>@Model.Description</h4>
    <hr />
    <p>
        Подписок: @Model.SubscriptionsCount
    </p>
    <p>
        Подписчиков: @Model.FollowersCount
    </p>
    @if (Model.Username != User.Identity.Name)
    {
        @if (Model.IsFollower)
        {
            <p>
                Подписан на Вас.
            </p>
        }
        else
        {
            <p>
                Не подписан на Вас.
            </p>
        }
    }
}
