﻿@using TL.Engine.Data.Entities.Reports;

@model TL.Engine.Web.Models.ErrorViewModel
@{
    Layout = "~/Views/Shared/_LayoutSafe.cshtml";
    ViewData["Title"] = $"Ошибка{(string.IsNullOrWhiteSpace(Model.Message) ? "" : $" - {Model.Message}")}!";
}
<div class="container">
    <partial name="_Error" model="@Model" />
    <hr />
    <form id="form-report">
        <div class="text-danger validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="@Model.Author">Представьтесь</label>
            @if (string.IsNullOrWhiteSpace(Model.Author))
            {
                <input asp-for="@Model.Author" class="form-control" placeholder="Иванов Иван Иванович" />
            }
            else
            {
                <input asp-for="@Model.Author" class="form-control" value="@Model.Author" readonly />
            }
            <span asp-validation-for="@Model.Author" class="text-danger validation" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description">Опишите проблему максимально точно</label>
            <textarea class="form-control" placeholder="Я что-то нажал(-а) и оно сломалось" type="text" data-val="true" data-val-required="Опишите проблему"
                      id="Description" name="Description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 128px;"></textarea>
            <span asp-validation-for="@Model.Description" class="text-danger validation" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Priority">Насколько это плохо?</label>
            <select asp-for="@Model.Priority" asp-items="Html.GetEnumSelectList<ReportPriority>()" class="form-control">
                <option disabled selected>Выберте один из вариантов</option>
            </select>
            <span asp-validation-for="@Model.Priority" class="text-danger validation" />
        </div>

        <input asp-for="@Model.StackTrace" class="invisible" value="@Model.StackTrace" id="stackTraceHideInput" />
        <input asp-for="@Model.Message" class="invisible" value="@Model.Message" />
        <input asp-for="@Model.RequestId" class="invisible" value="@Model.RequestId" />
        <input asp-for="@Model.ReturnUrl" class="invisible" value="@Model.ReturnUrl" />
        <input asp-for="@Model.StatusCode" class="invisible" value="@Model.StatusCode" />
    </form>
    <div class="form-row">
        <button id="submit" class="btn btn-outline-success form-control" onclick="server_alert('/fail/report', '#form-report', true)">
            Отправить
        </button>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <p>
                <div class="row">
                    <div class="col">
                        <code>@Model.Message</code>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-sm btn-clipboard" data-clipboard-target="#stackTracePre" onclick="_alert('Текст ошибки скопирован в буфер обмена')">
                            Копировать ошибку
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <pre id="stackTracePre">@Model.StackTrace</pre>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        new ClipboardJS('.btn-clipboard');
    </script>
}
