﻿@model TL.Engine.Web.ViewModels.SystemActiveModules.SystemActiveModulesViewModel
@{
    ViewData["Title"] = "Модули";

    var waitModules = Model.Modules.Where(it => !Model.Extensions.Select(e => e.Name.Substring(3)).Contains(it));

    string globalModuleDivArea = "";

    string f(TL.Engine.SDK.Modularity.BaseMetadata module)
    {
        var name = $"{module.Name}";
        if (Model.Modules.Contains(module.Name.Substring(3)))
        {
            name += $"<button class=\"btn btn-link\" onclick=\"server_alert(\'/modules/remove?name={module.Name}\')\">Удалить</button>";
        }
        var moduleId = string.Join("_", module.Name.Split("."));
        var r = $"<span class=\"row align-items-center\">" +
                    $"<span class=\"col-auto\"><img src=\"/Styles/images/base_package.png\" alt=\"Logo\"></span>" +
                    $"<button type=\"button\" class=\"btn btn-link\" data-toggle=\"modal\" data-target=\"#{moduleId}Modal\"><span class=\"glyphicon glyphicon-info-sign\"></span></button>" +
                    $"<h6>{name}</h6>" +
                    $"</span>";
        var modal = GetModal(module);
        globalModuleDivArea += modal;
        return r;
    }

    string fSub(TL.Engine.SDK.Modularity.BaseMetadata module)
    {
        string r = "";
        if (module.SubModules.Any())
        {
            r += $"<ul class=\"list-group\">";
            foreach (var submodule in module.SubModules)
            {
                r += "<li class=\"list-group-item\">";
                r += f(submodule);
                r += "</li>";
            }
            r += $"</ul>";
        }
        return r;
    }

    string GetModal(TL.Engine.SDK.Modularity.BaseMetadata module)
    {
        var moduleId = string.Join("_", module.Name.Split("."));
        var modalDivArea =
          $"<div class=\"modal fade\" id=\"{moduleId}Modal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"{moduleId}ModalTitle\" aria-hidden=\"true\">" +
              "<div class=\"modal-dialog modal-dialog-centered\" role=\"document\">" +
                  "<div class=\"modal-content\">" +
                      "<div class=\"modal-header\">" +
                          $"<h5 class=\"modal-title\" id=\"{moduleId}ModalLongTitle\">Подбробнее о модуле {module.Name}</h5>" +
                          "<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">" +
                              "<span aria-hidden=\"true\">&times;</span>" +
                          "</button>" +
                      "</div>" +
                      "<div class=\"modal-body\">" +
                          "<p>" +
                              $"{@module.Description}" +
                          "</p>" +
                          "<p>" +
                              $"{@module.Authors}" +
                          "</p>" +
                          "<p>" +
                              $"Module version {module.GetVersion().ToString()}" +
                          "</p>" +
                          "<p>" +
                              $"Core version {module.GetVersionSDK().ToString()}" +
                          "</p>" + fSub(module) +
                      "</div>" +
                      "<div class=\"modal-footer\">" +
                          "<button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">Закрыть</button>";
        modalDivArea += "</div>" +
        "</div>" +
    "</div>" +
"</div>";

        return modalDivArea;
    }
}
<h4>Подключить модуль TL Engine:</h4>
<form asp-action="index" asp-controller="modules" class="needs-validation" asp-anti-forgery="true" method="post" enctype="multipart/form-data" novalidate>
    <div class="text-danger validation" asp-validation-summary="All"></div>
    <div class="form-row">
        <div class="col">
            <div class="custom-file">
                <label class="custom-file-label" for="package_file">Файл пакета *.tle</label>
                <input type="file" class="custom-file-input" id="package_file" name="package_file" required>
                <div class="valid-feedback">
                    Ок
                </div>
                <div class="invalid-feedback">
                    Выберите файл
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="custom-control">
                <button class="btn btn-outline-success" type="submit">Загрузить</button>
            </div>
        </div>
    </div>
</form>
@if (waitModules.Count() > 0)
{
    <hr />
    <h4>
        Ожидают
        <button class="btn btn-link" onclick="server_alert('/runtime/restart')">Перезапустить сервер</button>
    </h4>
    <hr />
    <ul class="list-group">
        @foreach (var module in waitModules)
        {
            <li class="list-group-item">
                <div class="d-flex align-items-center">
                    <div class="spinner-border mr-5" role="status" aria-hidden="true"></div>
                    <strong>@module ожидает перезапуска сервера</strong>
                </div>
            </li>
        }
    </ul>
}
<hr />
<h4>Список доступных модулей TL Engine:</h4>
<hr />
<ul class="list-group">
    @foreach (var module in Model.Extensions)
    {
        <li class="list-group-item">
            @Html.Raw(f(module))
        </li>
    }
</ul>
@Html.Raw(globalModuleDivArea)

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
            $(document).on('show.bs.modal', '.modal', function (event) {
                var zIndex = 1040 + (10 * $('.modal:visible').length);
                $(this).css('z-index', zIndex);
                setTimeout(function () {
                    $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
                }, 0);
            });
        });
    </script>
}