﻿@{
    ViewData["Title"] = "API";
    Layout = "~/Areas/ApiHelp/Views/Shared/_Layout.cshtml";
}
<div class="col">
    <h1>Введение</h1>
    <p>
        С помощью <strong>TL Engine API</strong> вы можете получить доступ к нашим данным в удобном машинно-читаемом формате <a href="/apihelp/objects#JsonApiResponseFormat"><b>JSON</b></a>.
    </p>
    <hr />
    <h2>Методы и объекты</h2>
    <p>
        Для доступа к данным вы просто посылаете запрос по адресу:
        <pre><kbd>@Context.Request.Scheme://<code id="host1"></code>/api/{methodName}</kbd></pre>
        Параметры запроса зависят от метода.
        Вместе с описанием каждого
        <a href="/apihelp/methods"><b>метода</b></a> можно увидеть пример запроса.
    </p>
    <p>
        Формат ответа - <a href="/apihelp/objects#JsonApiResponseFormat"><b>JSON объект</b></a>, который всегда содержит логическое поле
        <code>ok</code> и может иметь необязательное строковое поле
        <code>description</code> с описанием результата. Если поле
        <code>ok</code> равно
        <code>true</code>, запрос был выполнен успешно, в таком случае результат будет находиться в поле
        <code>result</code>. В случае неудачного запроса
        <code>ok</code> равно
        <code>false</code>, а ошибка приведена в поле
        <code>description</code>. Так же возвращается поле
        <code>errorСode</code>, чтобы помочь вам обрабатывать ошибки. Также мы всегда стараемся (если это возможно) возвращать поле
        <code>requestTime</code>, которое содержит объект
        <a href="https://docs.microsoft.com/ru-ru/dotnet/api/system.timespan">TimeSpan</a> - продолжительность обработки вашего запроса сервером.
    </p>
    <h3>Пример удачного выполнения запроса</h3>
    <p>
        Запрос:
        <pre><kbd>GET @Context.Request.Scheme://<code id="host2"></code><code id="sampleGoodRequest"></code></kbd></pre>
        Ответ:
        <pre class="alert-success"><code id="sampleGoodResponse"></code></pre>
    </p>
    <h3>Пример неудачного выполнения запроса</h3>
    <p>
        Запрос:
        <pre><kbd>GET @Context.Request.Scheme://<code id="host3"></code><code id="sampleBadRequest"></code></kbd></pre>
        Ответ:
        <pre class="alert-danger"><code id="sampleBadResponse"></code></pre>
    </p>
    <hr />
    <h2>Функции</h2>
    <p>
        Особое внимание советуем уделить методу <code><a href="/apihelp/methods#systemExecute"><b>system.Execute</b></a></code> - он позволяет вызывать на стороне сервера
        некоторые допустимые процедуры и функции и возвращает результат их выполнения стандартным <a href="/apihelp/objects#JsonApiResponseFormat"><b>JSON объектом</b></a>.
    </p>
    <p>
        Существует два типа функций - привантые и публичные. Приватные помечаются значком <span class="glyphicon glyphicon-lock" title="Необходим токен-ключ"></span> и для работы с ними необходим
        специальный токен-ключ. Документация по приватным функциям доступна только авторизированным пользователям.
    </p>
    <h3>Пример работы с функциями</h3>
    <p>
        Запрос:
        <pre><kbd>GET @Context.Request.Scheme://<code id="host4"></code><code id="sampleFunctionRequest1"></code></kbd></pre>
        Ответ:
        <pre class="alert-success"><code id="sampleFunctionResponse1"></code></pre>
    </p>
    <p>
        Запрос:
        <pre><kbd>GET @Context.Request.Scheme://<code id="host5"></code><code id="sampleFunctionRequest2"></code></kbd></pre>
        Ответ:
        <pre class="alert-success"><code id="sampleFunctionResponse2"></code></pre>
    </p>
</div>

@section Scripts {
    <script type="text/javascript">
        var sampleGoodUri = '/api/system.Me';
        var sampleBadUri = '/api/system.Bad';
        var sampleFunctionUri1 = '/api/system.Execute/TL.Linker.Data.Managers.ILinkManager:LinkConvert?number=387070645064022132'
        var sampleFunctionUri2 = '/api/system.Execute/TL.Linker.Data.Managers.ILinkManager:LinkParse?code=SampleLink'
        var apiGetHostUri = '/api/system.Host';
        var alertMessage = 'В данный момент мы испытываем неполадки в работе системы API, данные на стрнице могут отображаться некорректно!';
        $(document).ready(function () {
            $('#sampleGoodRequest').text(sampleGoodUri);
            $('#sampleBadRequest').text(sampleBadUri);
            $('#sampleFunctionRequest1').text(sampleFunctionUri1);
            $('#sampleFunctionRequest2').text(sampleFunctionUri2);

            $.getJSON(sampleGoodUri)
                .done(function (data) {
                    $('#sampleGoodResponse')
                        .text(JSON.stringify(data, null, 2))
                })
                .fail(function (jqXHR, textok, err) {
                    alert(err + '! ' + alertMessage);
                    $('#sampleGoodResponse')
                        .text(alertMessage)
                });

            $.getJSON(sampleBadUri)
                .fail(function (data) {
                    $('#sampleBadResponse')
                        .text(JSON.stringify(data.responseJSON, null, 2))
                });

            $.getJSON(sampleFunctionUri1)
                .done(function (data) {
                    $('#sampleFunctionResponse1')
                        .text(JSON.stringify(data, null, 2))
                })
                .fail(function (jqXHR, textok, err) {
                    alert(err + '! ' + alertMessage);
                    $('#sampleFunctionResponse1')
                        .text(alertMessage)
                });

            $.getJSON(sampleFunctionUri2)
                .done(function (data) {
                    $('#sampleFunctionResponse2')
                        .text(JSON.stringify(data, null, 2))
                })
                .fail(function (jqXHR, textok, err) {
                    alert(err + '! ' + alertMessage);
                    $('#sampleFunctionResponse2')
                        .text(alertMessage)
                });

            $.getJSON(apiGetHostUri)
                .done(function (data) {
                    if (data.ok) {
                        $('#host1').text(data.result.value);
                        $('#host2').text(data.result.value);
                        $('#host3').text(data.result.value);
                        $('#host4').text(data.result.value);
                        $('#host5').text(data.result.value);
                    }
                })
                .fail(function (jqXHR, textok, err) {
                    alert(err + '! ' + alertMessage);
                    $('#host1').text(alertMessage);
                    $('#host2').text(alertMessage);
                    $('#host3').text(alertMessage);
                    $('#host4').text(alertMessage);
                    $('#host5').text(alertMessage);
                });
        });
    </script>
}