﻿@{
    ViewData["Title"] = "API Объекты";
    Layout = "~/Areas/ApiHelp/Views/Shared/_Layout.cshtml";
}

<div class="col">
    <h1>Объекты</h1>
    <div id="contentObjects">
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var getHelpUri = '/api/system.Help'
        $(document).ready(function () {
            $.getJSON(getHelpUri)
                .done(function (data) {
                    if (data.ok) {
                        formatResult(data.result).appendTo('#contentObjects')
                    }
                    $('html, body').animate({
                        scrollTop: $(window.location.hash).offset().top - 74
                    }, 500);
                })
                .fail(function () {
                    alert(err + '! ' + alertMessage);
                    $('#contentObjects').text(alertMessage);
                });
        })

        function formatResult(result) {
            var divResult = $('<div>')
            $.each(result.objects, function (key, object) {
                formatObject(object).appendTo(divResult);
            })
            divResult.append(relevantCheckDiv(result))
            return divResult;
        }

        function relevantCheckDiv(result) {
            var div = $('<div>')
                .addClass('alert')
            var p = $('<p>');
            var span = $('<span>')
                .addClass('glyphicon');
            var strong = $('<text>')
            if (!result.isRelevant) {
                divClass = 'alert-danger';
                spanClass = 'glyphicon-exclamation-sign';
                strongText = '  Устаревшее API v"' + result.lastUpdate + '"';
            } else {
                divClass = 'alert-success';
                spanClass = 'glyphicon-ok-sign';
                strongText = '  Актуальная API v"' + result.lastUpdate + '"';
            }
            return div
                .addClass(divClass)
                .append(p
                    .append(span
                        .addClass(spanClass)
                    )
                    .append(strong.
                        text(strongText)
                    )
                )
        }

        function formatObject(object) {
            var tbody = $('<tbody>');
            $.each(object.properties, function (key, property) {
                formatProperty(property).appendTo(tbody);
            })
            return $('<div>')
                .append($('<code>')
                    .append($('<h5 id="' + object.name + '">')
                        .text(object.name)
                    )
                )
                .append($('<p>').text(object.description))
                .append($('<div>')
                    .addClass('table-responsive')
                    .append($('<table>')
                        .addClass('table')
                        .addClass('table-bordered')
                        .addClass('table-hover')
                        .addClass('table-responsive-stack')
                        .append($('<thead>')
                            .addClass('thead-light')
                            .append($('<tr>')
                                .append($('<th style="flex-basis: 50%">')
                                    .text("Параметр")
                                )
                                .append($('<th style="flex-basis: 50%">')
                                    .text("Тип параметра")
                                )
                            )
                        )
                        .append(tbody)
                    )
                )
                .append($('<hr>'))
        }

        function formatProperty(property) {
            return $('<tr>')
                .append($('<td style="flex-basis: 50%">')
                    .text(property.name)
                )
                .append($('<td style="flex-basis: 50%">')
                    .text(property.type)
                )
        }
    </script>
}