﻿@model TL.Engine.Web.Areas.Admin.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Администрирование";
}
<h4>Панель управления</h4>
<br />
<div class="card-columns">
    @foreach (var sectionName in Model.Sections.Keys.OrderBy(k => k))
    {
        <div class="card shadow-sm rounded">
            <div class="card-body">
                <h5 class="card-title">@sectionName</h5>
                <nav class="list-group nav flex-column nav-pills h6 list-group">
                    @foreach (var item in Model.Sections[sectionName])
                    {
                        @if (item.IsAvailable)
                        {
                            <a class="nav-link list-group-item" href="@Url.Content(item.Url)" data-toggle="tooltip" data-placement="right" title="@item.Description">
                                @item.Name
                            </a>
                        }
                        else
                        {
                            <a class="nav-link list-group-item" href="#" data-toggle="tooltip" data-placement="right" title="(Пока недоступно) @item.Description">
                                @item.Name
                                <span class="badge badge-pill badge-danger">Скоро</span>
                            </a>
                        }
                    }
                </nav>
            </div>
        </div>
    }
</div>