﻿@{
    ViewData["Title"] = "API Функции";
    Layout = "~/Areas/ApiHelp/Views/Shared/_Layout.cshtml";
}

<div class="col">
    <h1>Функции</h1>
    <div id="contentFunctions">
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var getHelpUri = '/api/system.Help'
        $(document).ready(function () {
            $.getJSON(getHelpUri)
                .done(function (data) {
                    if (data.ok) {
                        formatResult(data.result).appendTo('#contentFunctions')
                    }
                    $('html, body').animate({
                        scrollTop: $(window.location.hash).offset().top - 74
                    }, 500);
                })
                .fail(function () {
                    alert(err + '! ' + alertMessage);
                    $('#contentFunctions').text(alertMessage);
                });
        })

        function formatResult(result) {
            var divResult = $('<div>')
            $.each(result.functions, function (key, func) {
                formatFunction(func).appendTo(divResult);
            })
            divResult.append(relevantCheckDiv(result))
            return divResult;
        }

        function relevantCheckDiv(result) {
            var div = $('<div>')
                .addClass('alert')
            var p = $('<p>');
            var span = $('<span>')
                .addClass('glyphicon');
            var strong = $('<text>')
            if (!result.isRelevant) {
                divClass = 'alert-danger';
                spanClass = 'glyphicon-exclamation-sign';
                strongText = '  Устаревшее API v"' + result.lastUpdate + '"';
            } else {
                divClass = 'alert-success';
                spanClass = 'glyphicon-ok-sign';
                strongText = '  Актуальная API v"' + result.lastUpdate + '"';
            }
            return div
                .addClass(divClass)
                .append(p
                    .append(span
                        .addClass(spanClass)
                    )
                    .append(strong.
                        text(strongText)
                    )
                )
        }

        function formatFunction(func) {
            var tbody = $('<tbody>');
            $.each(func.properties, function (key, property) {
                formatProperty(property).appendTo(tbody);
            })
            var span = $('<span title="' + (func.isPrivate ? 'Необходим токен-ключ' : '') + '">').addClass('glyphicon');
            if (func.isPrivate) {
                span.addClass('glyphicon-lock');
            }
            return $('<div>')
                .append($('<p>')
                    .append(span)
                    .append($('<code>')
                        .append($('<h5 id="' + getId(func.namespace + ':' + func.name) + '">')
                            .click(function () {
                                window.open('/api/system.Execute/' + (func.isPrivate ? '<TOKEN>/' : '') + func.namespace + ':' + func.name + '?');
                            })
                            .text(func.returnableType + ' ' + func.namespace + ':' + func.name)
                        )
                    )
                )
                .append($('<p>').text(func.description))
                .append($('<div>')
                    .addClass('table-responsive')
                    .append($('<table>')
                        .addClass('table')
                        .addClass('table-bordered')
                        .addClass('table-hover')
                        .addClass('table-responsive-stack')
                        .append($('<thead>')
                            .addClass('thead-light')
                            .append($('<tr>')
                                .append($('<th style="flex-basis: 50%">')
                                    .text("Параметр")
                                )
                                .append($('<th style="flex-basis: 50%">')
                                    .text("Тип параметра")
                                )
                            )
                        )
                        .append(tbody)
                    )
                )
                .append($('<hr>'))
        }

        function formatProperty(property) {
            return $('<tr>')
                .append($('<td style="flex-basis: 50%">')
                    .text(property.name)
                )
                .append($('<td style="flex-basis: 50%">')
                    .text(property.type)
                )
        }
    </script>
}