﻿@{
    Layout = $"~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <nav class="nav">
                <a class="nav-link" href="/apihelp">Введение</a>
                <a class="nav-link" href="/apihelp/methods">Методы</a>
                <a class="nav-link" href="/apihelp/objects">Возвращаемые объекты</a>
                <a class="nav-link" href="/apihelp/functions">Функции</a>
            </nav>
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <div class="col-md-3">
        <div class="row sticky-top" style="top:74px;">
            <div class="col-md-12">
                <h1>Методы</h1>
                <nav id="methods" class="nav flex-column"></nav>
            </div>
            <div class="col-md-12">
                <h1>Объекты</h1>
                <nav id="objects" class="nav flex-column"></nav>
            </div>
            <div class="col-md-12">
                <h1>Функции</h1>
                <nav id="functions" class="nav flex-column"></nav>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        var getHelpUri = '/api/system.Help';
        var alertMessage = 'В данный момент мы испытываем неполадки в работе системы API, данные на стрнице могут отображаться некорректно!';

        $(document).ready(function () {
            $.getJSON(getHelpUri)
                .done(function (data) {
                    if (data.ok) {
                        $.each(data.result.methods, function (key, item) {
                            $('<a class="nav-link" href="/apihelp/methods#' + getId(item.command) + '">' + item.command + '</a>')
                                .appendTo($('#methods'));
                        });
                        $.each(data.result.functions, function (key, item) {
                            if (item.isPrivate) {
                                $('<a class="nav-link" href="/apihelp/functions#' + getId(item.namespace + ':' + item.name) + '" title="' + item.description + '"></a>')
                                    .append($('<span class="glyphicon glyphicon-lock"></span>'))
                                    .append($('<span>').text(item.name + ' ' + item.returnableType))
                                    .appendTo($('#functions'));
                            } else {
                                $('<a class="nav-link" href="/apihelp/functions#' + getId(item.namespace + ':' + item.name) + '" title="' + item.description + '"></a>')
                                    .append($('<span class="glyphicon glyphicon-unlock"></span>'))
                                    .append($('<span>').text(item.name + ' ' + item.returnableType))
                                    .appendTo($('#functions'));
                            }
                        });
                        $.each(data.result.objects, function (key, item) {
                            $('<a class="nav-link" href="/apihelp/objects#' + getId(item.name) + '">' + item.name + '</a>')
                                .appendTo($('#objects'));
                        });
                    }
                })
        });

        function getId(name) {
            return (name.split(/[.,:]+/).join(""));
        }
    </script>
}