﻿@{
    ViewData["Title"] = "API Методы";
    Layout = "~/Areas/ApiHelp/Views/Shared/_Layout.cshtml";
}

<div class="col">
    <h1>Методы</h1>
    <div id="contentMethods">
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var getHelpUri = '/api/system.Help'
        $(document).ready(function () {
            $.getJSON(getHelpUri)
                .done(function (data) {
                    if (data.ok) {
                        formatResult(data.result).appendTo('#contentMethods')
                    }
                    $('html, body').animate({
                        scrollTop: $(window.location.hash).offset().top - 74
                    }, 500);
                })
                .fail(function () {
                    alert(err + '! ' + alertMessage);
                    $('#contentMethods').text(alertMessage);
                });
        })

        function formatResult(result) {
            var divResult = $('<div>')
            $.each(result.methods, function (key, method) {
                formatMethod(method).appendTo(divResult);
            })
            divResult.append(relevantCheckDiv(result));
            return divResult;
        }

        function relevantCheckDiv(result) {
            var div = $('<div>')
                .addClass('alert')
            var p = $('<p>');
            var span = $('<span>')
                .addClass('glyphicon');
            var strong = $('<text>')
            if (!result.isRelevant) {
                divClass = 'alert-danger';
                spanClass = 'glyphicon-exclamation-sign';
                strongText = '  Устаревшее API v"' + result.lastUpdate + '"';
            } else {
                divClass = 'alert-success';
                spanClass = 'glyphicon-ok-sign';
                strongText = '  Актуальная API v"' + result.lastUpdate + '"';
            }
            return div
                .addClass(divClass)
                .append(p
                    .append(span
                        .addClass(spanClass)
                    )
                    .append(strong.
                        text(strongText)
                    )
                )
        }

        function formatMethod(method) {
            var tbody = $('<tbody>');
            $.each(method.protocols, function (key, protocol) {
                formatProtocol(protocol, method.command).appendTo(tbody);
            })
            return $('<div>')
                .append($('<code>')
                    .append($('<h5 id="' + getId(method.command) + '">')
                        .text(method.command)
                    )
                )
                .append($('<p>').text(method.description))
                .append($('<div>')
                    .addClass('table-responsive')
                    .append($('<table>')
                        .addClass('table')
                        .addClass('table-bordered')
                        .addClass('table-hover')
                        .addClass('table-responsive-stack')
                        .append($('<thead>')
                            .addClass('thead-light')
                            .append($('<tr>')
                                .append($('<th style="flex-basis: 25%">')
                                    .text("Протокол")
                                )
                                .append($('<th style="flex-basis: 25%">')
                                    .text("Описание")
                                )
                                .append($('<th style="flex-basis: 25%">')
                                    .text("Возвращаемый тип")
                                )
                                .append($('<th style="flex-basis: 25%">')
                                    .text("Пример")
                                )
                            )
                        )
                        .append(tbody)
                    )
                )
                .append($('<hr>'))
        }

        function formatProtocol(protocol) {
            return $('<tr>')
                .click(function () {
                    if (protocol.name == "GET") {
                        window.open('/api/' + protocol.sample);
                    }
                })
                .append($('<td style="flex-basis: 25%">')
                    .text(protocol.name)
                )
                .append($('<td style="flex-basis: 25%">')
                    .text(protocol.description)
                )
                .append($('<td style="flex-basis: 25%">')
                    .text(protocol.returnableType)
                )
                .append($('<td style="flex-basis: 25%">')
                    .text(protocol.sample)
                )
        }
    </script>
}