﻿@model TL.Engine.Web.Areas.Account.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Вход";
    Layout = "~/Views/Shared/_LayoutSafePage.cshtml";
}
<h5>Войти в аккаунт</h5>
<br />
<div class="row">
    <div class="col-auto">
        <form asp-action="index" asp-controller="login" asp-area="account" asp-anti-forgery="true" asp-route-returnUrl="@Model.ReturnUrl" class="needs-validation" novalidate>
            <div class="text-danger validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="@Model.Username"></label>
                <input type="text" asp-for="@Model.Username" class="form-control" placeholder="Логин" required />
                <div class="valid-feedback">
                    Ок
                </div>
                <div class="invalid-feedback">
                    Введите логин
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password"></label>
                <input asp-for="@Model.Password" class="form-control" placeholder="Пароль" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="form-control btn btn-outline-secondary" />
            </div>
            <div class="valid-feedback">
                Ок
            </div>
        </form>

        <a asp-action="index" asp-controller="register">Регистрация</a>
    </div>
</div>